.main-header {
  background-color: $main-color;
}

.header-navigation {
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: $black-border-1-5px;
}

.header__title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.5px;
  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.header-form {
  width: 50%;
  display: flex;
  gap: 15px;

  &__search {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    background-color: $white;
    border: $black-border-1px;
    border-radius: 9px;

    &:focus {
      border: $black-border-1px;
      box-shadow: 0 0 0 0.25rem rgb(23, 23, 24, 0.3);
    }
  }

  &__submit {
    width: 25px;
    height: 25px;
    padding: 15px;
    background-image: url("../assets/images/search.png");
    background-size: cover;
    border: $black-border-1px;
    border-radius: 50%;

    &:active {
      background-color: rgb(206, 192, 181);
    }
  }
}
